body {
  margin: 0;
  padding: 0;
  font-size: .85em;
  font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
  color: #232323;
  background-color: #fff;
}

body > header {
  margin:0;
  padding: 1em 2em 1em;
  background-color: #EEE;
  
  a {
    text-decoration: none;
    color: #232323;
  }
  
  h1 {
    font-size: 2em;
    color: Navy;
  }
  
  nav {
    font-size: 1.5em;
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      li {
        display: inline-block;
        padding: 0 0.5em 0;
        margin-right: 1em;
        background-color: Silver;
        border-radius: 0.3em;
      }
    }
  }
}

body > footer {
  margin:0;
  padding: 1em 2em 1em;
  text-align: center;
}

body > section {
  margin: 1em 2em 1em;
}