@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>This is my new site built with <a href="http://www.asp.net/mvc">asp.net MVC</a> and hosted with <a href="http://appharbor.com/">AppHarbor</a>.</p>