@using System
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>This is my new site built with <a href="http://www.asp.net/mvc">asp.net MVC</a> and hosted with <a href="http://appharbor.com/">AppHarbor</a>.</p>

<p>Site colours from <a href="http://www.colourlovers.com/palette/1553964/Snowy_Sunset">here</a>.</p>