@using Rholiver.Site
@using Rholiver.Site.Models
@model SiteStats
@{
    ViewBag.Title = "DashBoard";
}

<h2>DashBoard</h2>
<ul>
  <li><a href="/glimpse.axd">Glimpse</a></li>
  <li><a href="/elmah.axd">Elmah</a></li>
  <li><a href="https://www.google.com/a/cpanel/rholiver.co.uk/Dashboard">Google Apps</a></li>
  <li><a href="https://www.google.com/analytics/web/">Google Analytics</a></li>
  <li><a href="https://www.google.com/webmasters/tools/home?hl=en&siteUrl=http://rholiver.co.uk/">Google Webmaster</a></li>
  <li><a href="http://www.bing.com/webmaster/Dashboard/Dashboard/?url=http://rholiver.co.uk/">Bing Webmaster</a></li>
</ul>

<ul>
<p>Start time - @MvcApplication.StartTime</p>
@foreach (var uptime in Model.Uptimes) {
  <li>@uptime.Start<text> - </text>@uptime.Finish</li>
}
</ul>